[database]
ENGINE: django.db.backends.sqlite3
NAME: __PROJECT_ROOT__/db/db.sqlite3
USER:
PASSWORD:
HOST:
PORT:

[path]
PROJECT_ROOT: __PROJECT_ROOT__
MEDIA_ROOT: __PROJECT_ROOT__/media/
STATIC_ROOT: __PROJECT_ROOT__/static/

#[url]
#HOSTNAME: uploader.example.com
#MEDIA_URL: /media/
#STATIC_URL: /static/

[security]
SECRET_KEY: __SECRET_KEY__
CSRF_MIDDLEWARE_SECRET: __CSRF_MIDDLEWARE_SECRET__
#ALLOWED_HOSTS: 127.0.0.1

[debug]
DEBUG: true
TEMPLATE_DEBUG: true
VIEW_TEST: true
INTERNAL_IPS: 127.0.0.1
SKIP_CSRF_MIDDLEWARE: true

#[misc]
#TIME_ZONE: UTC
